{% extends 'base.html.twig' %}

{% block title %}Vitrine index{% endblock %}

{% block body %}
    <h1>Vitrine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo_url</th>
                <th>Description</th>
                <th>Publiee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vitrine in vitrines %}
            <tr>
                <td>{{ vitrine.id }}</td>
                <td>{{ vitrine.photoUrl }}</td>
                <td>{{ vitrine.description }}</td>
                <td>{{ vitrine.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_vitrine_show', {'id': vitrine.id}) }}">show</a>
                    <a href="{{ path('app_vitrine_edit', {'id': vitrine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('app_vitrine_new', {'id': vitrines[0].createur.id}) }}">Créer une nouvelle vitrine</a>
{% endblock %}
