{% extends 'base.html.twig' %}

{% block title %}Vitrine{% endblock %}

{% block body %}
    <h1>Vitrine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vitrine.id }}</td>
            </tr>
            <tr>
                <th>Photo_url</th>
                <td>{{ vitrine.photoUrl }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vitrine.description }}</td>
            </tr>
            <tr>
                <th>Publiee</th>
                <td>{{ vitrine.publiee ? 'Yes' : 'No' }}</td>
            </tr>
           <ul>
  {% for chat in vitrine.chats %}
    <li>
      <a href="{{ path('app_vitrine_chat_show', {
        'vitrine_id': vitrine.id,
        'chat_id': chat.id
      }) }}">
        {{ chat }}
      </a>
    </li>
  {% endfor %}
</ul>
            
        </tbody>
    </table>

    <a href="{{ path('app_vitrine_index') }}">back to list</a>

    <a href="{{ path('app_vitrine_edit', {'id': vitrine.id}) }}">edit</a>

    {{ include('vitrine/_delete_form.html.twig') }}
{% endblock %}
