{# templates/vitrine/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vitrine {{ vitrine.id }}{% endblock %}

{% block body %}
<h1>Vitrine: {{ vitrine.id }}</h1>

<table class="table">
  <tr>
    <th>Photo</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>
      {% if vitrine.photoUrl %}
        <img src="{{ vitrine.photoUrl }}" alt="photo" style="max-width:150px;">
      {% endif %}
    </td>
    <td>{{ vitrine.description }}</td>
  </tr>

  <tr>
    <th>Objets (chats)</th>
    <td>
      <ul>
        {% for chat in vitrine.chats %}
          <li>
            <a href="{{ path('app_vitrine_chat_show', { 'vitrine_id': vitrine.id, 'chat_id': chat.id }) }}">
              {{ chat.nom }}
            </a>
          </li>
        {% else %}
          <li>Aucun chat dans cette vitrine.</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>


<a class="btn btn-secondary" href="{{ path('app_vitrine_new', {'id': vitrine.createur.id}) }}">Retour</a>
{% endblock %}
