{% extends 'base.html.twig' %}

{% block title %}Chat index{% endblock %}

{% block body %}
    <h1>Chat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Race</th>
                <th>Sexe</th>
                <th>Etat_sante</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chat in chats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>{{ chat.nom }}</td>
                <td>{{ chat.age }}</td>
                <td>{{ chat.race }}</td>
                <td>{{ chat.sexe }}</td>
                <td>{{ chat.etatSante }}</td>
                <td>{{ chat.statut }}</td>
                <td>
                    <a href="{{ path('app_chat_index', {'id': chat.id}) }}">show</a>
                    <a href="{{ path('app_chat_edit', {'id': chat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
